/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/** Hintergrund und Font setzen **/
body {
	background-color: rgb(90,90,90);
	font-family: "Avenir Medium", sans-serif;
	overflow: hidden;
}
/**
Verknüpfung meint das <aside>, welchem wir die 
ID verknuepfungen gegeben haben.
Wir haben noch gar nicht das für uns sinnvolle 
Borderbox-Modell gewählt **/
#verknuepfungen {
	color: rgb(179,179,179);
	border: 1px dashed rgb(179,179,179);
	margin: 10px;
	width: 200px;
	padding: 10px;
}

#verknuepfungen h2 {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: normal;
	margin: 0;
	margin-bottom: 10px;
}

#verknuepfungen li {
	border-top: 1px dashed rgb(179,179,179);
	padding: 10px;
	padding-left: 0;
	padding-right: 0;
}

#verknuepfungen li:last-child {
	padding-bottom: 0;
}

#verknuepfungen a {
	text-decoration: none;
	color: inherit;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
}
/* Uberschrift
Vorgaben:
Font: Avenir Medium 40 pt
Farbe: 63,169,245;
http://joelcrawfordsmith.com/new/font/avenir
https://www.google.com/fonts/specimen/Nunito
Testweise Nunito als Schriftart
wirklich 40pt? 40px sieht passender aus
Keine Linienhohen angegeben, deshalb 40px, gema? Abbildung
*/
.medienweise h2, #textauszug h2, #objekt h2 {
	margin: 0;
	padding: 0;
	font-family: 'Avenir Medium','Nunito', sans-serif;
	font-size: 20px;
	line-height: 20px;
	color: rgb(63,169,245);
	display: block;
}

.medienweise {
	box-sizing: content-box;
	background: rgb(45,45,45);
	margin: 0;
	padding: 10px;
	width: 180px;
	display: block;
	margin-right: 10px;
	margin-bottom: 10px;
}
.medienweise > header > a {
	margin: 0;
	padding: 0;
	display: block;
	text-decoration: none;
	background-image: url('img/Pfeil02.png');
	background-repeat: no-repeat;
	background-position: right top;
	background-size: contain;
}
/** Trennlinie wird durch header markiert
Vorgabe:
Strichlange 360px; // durch medienweisebox realisiert
Starke 1px dashed 5px //use http://thephuse.com/development/customizing-your-dashed-and-dotted-borders-in-css3/
Farbe: rgb(242,242,242);
**/
.medienweise header {
	margin: 0;
	padding: 0 0 10px 0;
	display: block;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-color: rgb(242,242,242);
}
/**
Umsetzung der Liste
Zurucksetzen von margin, padding und list-style
**/
.medienweise ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
/**
Aufzahlung
nach Vorgabe oben und unten 20px padding
Linie:dashed unterhalb des Elements
Rest wie aufgefuhrt
Linienhohe nicht angegeben?
pt statt px?
*/
.medienweise li {
	font-size: 15px;
	line-height: 20px;
	font-family: 'Avenir Roman','Nunito', sans-serif;
	color: rgb(242,242,242);
	padding: 10px 0;
	display: block;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-color: rgb(242,242,242);
}
/* Unter der letzten Aufzahlung kein Border: dashed; */
.medienweise li:last-child {
	border: none;
}
/** Beginn Textauszug **/
#textauszug {
	box-sizing: content-box;
	background-image: url('img/BackgroundMerkliste.png');
	background-repeat: repeat;
	width: 180px;
	padding: 10px;
	margin: 0;
}
#textauszug header {
	margin: 0;
	padding: 0 0 10px 0;
}
#textauszug .szene {
	height: 195px;
	display: block;
	overflow: hidden;
	font-family: 'Marion Regular', sans-serif;
	font-size: 15px;
	margin: 10px 0 20px 0;
	padding: 0;
	color: rgb(77,77,77);
}
#textauszug span {
	display: block;
}
#textauszug footer a {
	background-image: url('img/Pfeil02.png');
	background-repeat: no-repeat;
	background-position: left top;
	background-size: contain;
	display: block;
	font-family: 'Marion Regular', sans-serif;
	font-size: 15px;
	line-height: 15px;
	margin: 0;
	padding: 0 0 0 25px;
	text-decoration: none;
	color: rgb(63,169,245);
}
/** Beginn Objekt ***/
#objekt {
	margin: 0;
	padding: 10px;
	background: rgb(45,45,45);
	max-width: 280px;
	max-height: 280px;
}
#objekt header {
	height: 40px;
	margin: 0 5px 0 0;
	background-image: url(img/Kringel01.png);
	background-repeat: no-repeat;
	background-position: right top;
	background-size: contain;
}
#objekt h2 {
	margin: 0;
	padding: 0 0 10px 0;
	box-sizing: content-box;
	width: calc( 100% + 5px );
	color: rgb(128,128,128);
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-color: rgb(128,128,128);
}
#objekt img {
	box-sizing: content-box;
	margin: 15px 5px 15px 0;
	max-width: 255px;
	max-height: 190px;
}
#objekt figure {
	margin: 0;
	padding: 0;
	display: block;
}
#objekt figcaption {
	display: none;
}
#objekt, #textauszug, .wrapper {
	margin-right: 10px;
	display: inline-block;
	vertical-align: top;
	white-space:normal ;
}
/** Wrapper für Medienweise **/
.wrapper {
	width: 200px;
	display: inline-block;
}

.regieanweisungen{ 
	font-style: italic;
}
.akteur {
	text-transform: uppercase;
}

body > footer {
	clear: both;
}

body {
	background-color: rgb(90,90,90);
	font-family: "Avenir Medium", sans-serif;
}

#mainScrollArea {
	white-space: nowrap;
	overflow-x: scroll;
}

/* Haupttitel */
main > article > header {
	/* avoid that elements can be selected */
	-moz-user-select: none;
	user-select: none;
}

main > article > header > h1 {
	font-size: 30pt;
	font-weight: normal;
	font-style: normal;
	color: rgb(204,204,204);
	margin: 0;
	padding: 10px;
}

#mainScrollArea > section:nth-child(1) {
	margin-left: 10px;
}


/** BEGINN DER ÜBUNG JSL **/
body {
	margin: 0;
	padding: 0;
}

body > header {
	display: block;
	height: 30px;
	background: linear-gradient(to top, black, rgb(128,128,128));
	
}

body > header > a {
	font-family: "Avenir Black", sans-serif;
	color: rgb(128,128,128);
	font-size: 14px;
	vertical-align: middle;
	text-decoration: none;
	height: 30px;
	width: 100%;
	padding: 0 0 0 10px;
}

/** Detailansicht Textauszug **/
body.detail #objekt, body.detail .wrapper, body.detail > footer {
	display: none;
}

#einfuehrungstext {
	display: none;
}
/** Hauptüberschrift im Artikel **/
body.detail h1 {
	box-sizing: content-box;
	width: auto;

	font-family: "Avenir Black", sans-serif;
	font-size: 20pt;
	font-weight: normal;
	font-style: normal;
	color: rgb(63,169,245);

	margin: 0 10px 15px 10px;
	padding: 10px 0 15px 0;

	border: none;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-color: rgb(63,169,245);

}

body.detail {
	z-index: 10;
}
body.detail main {
	margin-top: 30px;
	display: block;
}

body.detail main * {
	background: white;
}
body.detail #mainScrollArea {
	overflow: hidden;
	height: auto
}

body.detail #textauszug {
	box-sizing: content-box;
	width: auto;
	height: auto;
	padding: 0;
	margin: 0 10px;

	background: none;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
}
body.detail #textauszug .szene {
	height: auto;
}
body.detail #textauszug footer {
	display: none;
}

body.detail #textauszug > header {
	display: none;
}

body.detail > header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}
 
/** Ein/Ausblenden **/
@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
	-webkit-animation: fadeIn 2.0s ease-in 1 forwards;
  animation: fadeIn 2.0s ease-in 1 forwards;
  opacity: 0;
}

@-webkit-keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.fade-out {
	-webkit-animation: fadeOut 2.0s ease-in 1 forwards;
  animation: fadeOut 2.0s ease-in 1 forwards;
  opacity: 1;
}

.is-paused {
	-webkit-animation-play-state: paused;
  animation-play-state: paused;
}
