/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.medienweise {
	box-sizing: content-box;
	background: rgb(45,45,45);
	margin: 0;
	padding: 20px;
	width: 360px;
	display: block;
}
/* Überschrift 
	Vorgaben: 
		Font: Avenir Medium 40 pt 
		Farbe: 63,169,245;

		http://joelcrawfordsmith.com/new/font/avenir
		https://www.google.com/fonts/specimen/Nunito

	Testweise Nunito als Schriftart
	wirklich 40pt? 40px sieht passender aus
	Keine Linienhöhen angegeben, deshalb 40px, gemäß Abbildung
*/

.medienweise h2, .textauszug h2, .objekt h2 {
	margin: 0;
	padding: 0;
	font-family: 'Avenir Medium', sans-serif;
	font-family: 'Nunito', sans-serif;
	font-size: 40px;
	line-height: 40px;
	color: rgb(63,169,245);
	display: block;
}
.medienweise > header > a {
	margin: 0;
	padding: 0;
	display: block;
	background-image: url(img/Pfeil02.png);
	background-repeat: no-repeat;
	background-position: right top;
	background-size: contain;
}
/** Trennlinie wird durch header markiert 
	Vorgabe: 
		Strichlänge 360px; // durch medienweisebox realisiert
		Stärke 1px dashed 5px //use http://thephuse.com/development/customizing-your-dashed-and-dotted-borders-in-css3/
		Farbe: rgb(242,242,242);

**/
.medienweise header {
	margin: 0;
	padding: 0 0 20px 0;
	display: block;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-color: rgb(242,242,242);
}
/**
	Umsetzung der Liste
	Zurücksetzen von margin, padding und list-style

**/
.medienweise ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
/**
	Aufzählung
	nach Vorgabe oben und unten 20px padding 
	Linie:dashed unterhalb des Elements
	Rest wie aufgeführt
	Linienhöhe nicht angegeben?
	pt statt px?

*/
.medienweise li {
	font-size: 30px;
	line-height: 40px;
	font-family: 'Avenir Roman', sans-serif;
	color: rgb(242,242,242);
	padding: 20px 0;
	display: block;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-color: rgb(242,242,242);
}
/* Unter der letzten Aufzählung kein Border: dashed; */
.medienweise li:last-child {
	border: none;
}

.textauszug {
	box-sizing: content-box;
	background-image: url(img/BackgroundMerkliste.png);
	background-repeat: repeat;
	width: 360px;
	padding: 20px;
	margin: 0;
}
/** [REFACTORED TO .medienweise h2]
.textauszug h2 {
	margin: 0;
	padding: 0;
	font-family: 'Avenir Medium', sans-serif;
	font-family: 'Nunito', sans-serif;
	font-size: 40px;
	line-height: 40px;
	color: rgb(63,169,245);
	display: block;
}

**/
.textauszug header {
	margin: 0;
	padding: 0 0 20px 0;
}
.textauszug .szene {
	height: 390px;
	display: block;
	overflow: hidden;
	font-family: 'Marion Regular', sans-serif;
	font-size: 30px;
	margin: 20px 0 40px 0;
	padding: 0;
	color: rgb(77,77,77);
}
/*
.textauszug footer {
	background-image: url(img/Pfeil02.png);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: contain;
}*/

.textauszug footer a {
	background-image: url(img/Pfeil02.png);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: contain;
	display: block;
	font-family: 'Marion Regular', sans-serif;
	font-size: 30px;
	line-height: 30px;
	margin: 0;
	padding: 0 0 0 50px;
	text-decoration: none;
}

.objekt {
	margin: 0;
	padding: 20px;
	background: rgb(45,45,45);
	max-width: 560px;
	max-height: 560px;
}

.objekt header {
	height: 80px;
	margin: 0 10px 0 0;
	background-image: url(img/Kringel01.png);
	background-repeat: no-repeat;
	background-position: right top; 
	background-size: contain;
}


.objekt h2 {
	margin: 0;
	padding: 0 0 20px 0;
	box-sizing: content-box;
	width: calc( 100% + 10px );
	color: rgb(128,128,128);

	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-color: rgb(128,128,128);

}

.objekt img {
	box-sizing: content-box;
	margin: 30px 10px 30px 0;
	max-width: 510px;
	max-height: 380px;
}

main > article {
	white-space: nowrap;
	overflow-x: auto;
}


.objekt, .textauszug, .wrapper {
	float:left;
	margin-right: 20px;
}
.wrapper {
	width: 400px;
	display: inline-block;
}

.medienweise {
	display: block;
	margin-right: 20px;
	margin-bottom: 20px;
}

footer {
	clear: both;
}