/* Haupttitel */
main > article > header, body > header {
	/* avoid that elements can be selected */
	-moz-user-select: none;
	user-select: none;
}

main > article, main > article > * {
	vertical-align: top;
}
main > article > header > h1 {
	font-size: 30pt;
	font-weight: normal;
	font-style: normal;
	color: rgb(204,204,204);
	margin: 0;
	padding: 10px;
}

/** for scrolling **/
#mainScrollArea {
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	font-size: 0px;
	display: block;
	height: 303px;
}


#mainScrollArea > section:nth-child(1),#mainScrollArea > .render-container:nth-child(1) {
	margin-left: 10px;
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
#menu ul>li {
	margin: 0;
	padding: 2px 0 0 0;
	display: inline-block;
	float: left;
	width: 20%;
}

